<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈卓</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省新郑市</string>
			<key>phoneNumber</key>
			<string>15237155523</string>
			<key>picture</key>
			<string>乌迪尔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈萍</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省郑州市</string>
			<key>phoneNumber</key>
			<string>18538279311</string>
			<key>picture</key>
			<string>丽桑卓.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈欢欢</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省驻马店市</string>
			<key>phoneNumber</key>
			<string>13253531291</string>
			<key>picture</key>
			<string>亚托克斯.jpg</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>范佳昌</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省修武县</string>
			<key>phoneNumber</key>
			<string>15139150583</string>
			<key>picture</key>
			<string>亚索.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>付志鹏</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省承德市平泉县</string>
			<key>phoneNumber</key>
			<string>15732595105</string>
			<key>picture</key>
			<string>克格莫.jpg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>郭晓宇</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省濮阳市华龙区</string>
			<key>phoneNumber</key>
			<string>17710624809</string>
			<key>picture</key>
			<string>兰博.jpg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>黄建超</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>江西省上饶市上饶县</string>
			<key>phoneNumber</key>
			<string>15131257622</string>
			<key>picture</key>
			<string>内瑟斯.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郝贺明</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省邢台市巨鹿县</string>
			<key>phoneNumber</key>
			<string>18330272681</string>
			<key>picture</key>
			<string>凯南.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄丽红</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>壮</string>
			<key>birthPlace</key>
			<string>广西省百色市平果县</string>
			<key>phoneNumber</key>
			<string>15727328628</string>
			<key>picture</key>
			<string>乐芙兰.jpg</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>蒋利辉</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省新乡市辉县市</string>
			<key>phoneNumber</key>
			<string>15670056262</string>
			<key>picture</key>
			<string>凯尔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贾丽娜</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省商丘市</string>
			<key>phoneNumber</key>
			<string>18317726031</string>
			<key>picture</key>
			<string>凯特琳.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贾鸿宇</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省滕州市</string>
			<key>phoneNumber</key>
			<string>18205483561</string>
			<key>picture</key>
			<string>加里奥.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贾莎莎</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省德州市</string>
			<key>phoneNumber</key>
			<string>18553436959</string>
			<key>picture</key>
			<string>卡特琳娜.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蒋应龙</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>四川省阆中市</string>
			<key>phoneNumber</key>
			<string>18282832341</string>
			<key>picture</key>
			<string>努努.jpg</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>name</key>
			<string>寇振宇</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省沈丘县</string>
			<key>phoneNumber</key>
			<string>15116982264</string>
			<key>picture</key>
			<string>劫.gif</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李哲</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省安阳市北关区</string>
			<key>phoneNumber</key>
			<string>18211658151</string>
			<key>picture</key>
			<string>锤石.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卢东</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省信阳市</string>
			<key>phoneNumber</key>
			<string>18737117941</string>
			<key>picture</key>
			<string>卢锡安.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘团伟</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省项城市</string>
			<key>phoneNumber</key>
			<string>18337115128</string>
			<key>picture</key>
			<string>厄加特.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>梁佳</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>满</string>
			<key>birthPlace</key>
			<string>河北省承德市滦平县</string>
			<key>phoneNumber</key>
			<string>15810082386</string>
			<key>picture</key>
			<string>卡莉斯塔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李雪莉</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省新乡市封丘县</string>
			<key>phoneNumber</key>
			<string>15670031157</string>
			<key>picture</key>
			<string>卡西奥佩娅.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吕杰</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省宁津县</string>
			<key>phoneNumber</key>
			<string>18801066963</string>
			<key>picture</key>
			<string>古拉加斯.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘美怡</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>天津市</string>
			<key>phoneNumber</key>
			<string>18301350079</string>
			<key>picture</key>
			<string>厄运小姐.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘梦琳</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省德州市</string>
			<key>phoneNumber</key>
			<string>18266184835</string>
			<key>picture</key>
			<string>卡尔玛.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李存瑶</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>江苏省徐州</string>
			<key>phoneNumber</key>
			<string>18801014409</string>
			<key>picture</key>
			<string>基兰.jpg</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马金丽</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省济源市</string>
			<key>phoneNumber</key>
			<string>18301689941</string>
			<key>picture</key>
			<string>奈德丽.jpg</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>name</key>
			<string>任学文</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山西省盂县</string>
			<key>phoneNumber</key>
			<string>18210684588</string>
			<key>picture</key>
			<string>奥拉夫.jpg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>宋浩文</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省菏泽市牡丹区</string>
			<key>phoneNumber</key>
			<string>18396817459</string>
			<key>picture</key>
			<string>嘉文四世.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋辉</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东菏泽市曹县梁堤头镇张庄村14号</string>
			<key>phoneNumber</key>
			<string>18206388509</string>
			<key>picture</key>
			<string>孙悟空.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋其泽</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省淄博市淄川区</string>
			<key>phoneNumber</key>
			<string>13964439129</string>
			<key>picture</key>
			<string>塔姆.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赏碧琪</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省灵宝市</string>
			<key>phoneNumber</key>
			<string>13223722540</string>
			<key>picture</key>
			<string>奥莉安娜.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>石鑫</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省临沂市兰山区</string>
			<key>phoneNumber</key>
			<string>18205483053</string>
			<key>picture</key>
			<string>泰达米尔.png</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>仝肖月</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省滑县</string>
			<key>phoneNumber</key>
			<string>18317726047</string>
			<key>picture</key>
			<string>娑娜.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>谭蓉</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省平原县</string>
			<key>phoneNumber</key>
			<string>18369908883</string>
			<key>picture</key>
			<string>娜美.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>田泽</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省辛集市</string>
			<key>phoneNumber</key>
			<string>18730230897</string>
			<key>picture</key>
			<string>李青.jpg</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王国威</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省濮阳市</string>
			<key>phoneNumber</key>
			<string>13839355088</string>
			<key>picture</key>
			<string>巴德.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王龙</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>吉林省吉林市</string>
			<key>phoneNumber</key>
			<string>18601030252</string>
			<key>picture</key>
			<string>布兰德.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王宝华</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>吉林省白山市</string>
			<key>phoneNumber</key>
			<string>15321671205</string>
			<key>picture</key>
			<string>布里茨.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王冬辰</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省虞城县</string>
			<key>phoneNumber</key>
			<string>13938203540</string>
			<key>picture</key>
			<string>提莫.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王祖之</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省封丘县</string>
			<key>phoneNumber</key>
			<string>18337108295</string>
			<key>picture</key>
			<string>杰斯.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王道奇</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省辉县市</string>
			<key>phoneNumber</key>
			<string>18300700829</string>
			<key>picture</key>
			<string>伊泽瑞尔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>汪保锋</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省光山县</string>
			<key>phoneNumber</key>
			<string>18337153605</string>
			<key>picture</key>
			<string>易.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王琨</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省邯郸市</string>
			<key>phoneNumber</key>
			<string>15028259330</string>
			<key>picture</key>
			<string>德莱文.jpg</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>徐峰</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省信阳市罗山县</string>
			<key>phoneNumber</key>
			<string>15003997083</string>
			<key>picture</key>
			<string>格雷福斯.jpg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨建</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省唐山市迁西县</string>
			<key>phoneNumber</key>
			<string>15933159120</string>
			<key>picture</key>
			<string>慎.jpg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>左子文</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省信阳市</string>
			<key>phoneNumber</key>
			<string>17090095780</string>
			<key>picture</key>
			<string>黑默丁格.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张展展</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省安阳县</string>
			<key>phoneNumber</key>
			<string>18317726069</string>
			<key>picture</key>
			<string>波比.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郑超华</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省滑县</string>
			<key>phoneNumber</key>
			<string>15637261076</string>
			<key>picture</key>
			<string>沃利贝尔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张文文</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>江西省九江市都昌县</string>
			<key>phoneNumber</key>
			<string>15100282331</string>
			<key>picture</key>
			<string>戴安娜.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>朱金鹏</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省西华县大王庄乡贾庄行政村5组</string>
			<key>phoneNumber</key>
			<string>18300708098</string>
			<key>picture</key>
			<string>沃里克.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张翼飞</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>吉林省榆树市</string>
			<key>phoneNumber</key>
			<string>18369957603</string>
			<key>picture</key>
			<string>崔斯特.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张潇丹</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省永城市</string>
			<key>phoneNumber</key>
			<string>15638508023</string>
			<key>picture</key>
			<string>瑟庄妮.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张华宇</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>山东省郯城县杨集镇杨一村一组163号</string>
			<key>phoneNumber</key>
			<string>15969909617</string>
			<key>picture</key>
			<string>艾克.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张欣</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省安阳县磊口乡南磊口村</string>
			<key>phoneNumber</key>
			<string>18317725753</string>
			<key>picture</key>
			<string>图奇.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张国正</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河南省南阳市邓州市</string>
			<key>phoneNumber</key>
			<string>15838418751</string>
			<key>picture</key>
			<string>盖伦.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周莹</string>
			<key>sex</key>
			<string>女</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>江苏省盐城</string>
			<key>phoneNumber</key>
			<string>18514595745</string>
			<key>picture</key>
			<string>阿狸.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张焕一</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>河北省衡水市饶阳县</string>
			<key>phoneNumber</key>
			<string>15081519717</string>
			<key>picture</key>
			<string>雷克顿.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张伟龙</string>
			<key>sex</key>
			<string>男</string>
			<key>nation</key>
			<string>汉</string>
			<key>birthPlace</key>
			<string>江西省宜丰县</string>
			<key>phoneNumber</key>
			<string>18730601638</string>
			<key>picture</key>
			<string>雷克赛.jpg</string>
		</dict>
	</array>
</dict>
</plist>
